@model ProductViewModel

@{
    ViewBag.Title = "Подробности";
}

<div class="card">
    <div class="card-header">Товар @Model.Name</div>
    <div class="card-body">
        <div>Идентификатор: @Model.Id</div>
        <div>Наименование: @Model.Name</div>
        <div>Цена: @Model.Price.ToString("C")</div>
        <div>Дата изготовления: @Model.ProductionDate.ToString("dd.MM.yyyy")</div>
        <div>Категория: @Model.Category</div>
        <!-- Удаление товара по его id -->
        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id"/>
            <input class="btn btn-warning" type="submit" value="Удалить"/>
        </form>
    </div>
</div>
<div>
    <!-- Вернуться обратно -->
    @Html.ActionLink("К списку", "Index", "Home")
    <!--
    Или, вместо ActionLink можно использовать:
    <a href="~/Home/Index">К списку</a>
    -->
</div>